<h2><%= @question.title %></h2>
<p>
  <%= @question.body %>
  <br>
  <time datetime="<%= @question.formatted_created_at %>">
    <%= @question.formatted_created_at %>
  </time>
  <br>
  <%= link_to 'edit', edit_question_path(@question)%>
  <%= link_to 'delete', question_path(@question), method: :delete, data: {confirm: 'are you sure?'}%>
</p>

<%= form_with model: [@question, @answer] do |f|%>
    <div>
      <%= f.label :body %>
    </div>
    <div class="mb-3">
      <%=  f.text_area :body, class: 'form-control'%>
    </div>
  <%= f.submit class: 'btn btn-outline-secondary btn-sm' %>
<% end %>

<h2>Answers</h2>
<% @answers.each do |a| %>
  <%= a.body %>
  <%= link_to 'delete', question_answer_path(@question, a), method: :delete, data: {confirm: '?'} %>
  <br>
<% end %>
