<%= form_with(model: product) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="mb-3">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>

  <div class="mb-3">
    <%= form.label :in_stock %>
    <%= form.number_field :in_stock %>
  </div>

  <div class="mb-3">
    <%= form.submit %>
  </div>
<% end %>
