<h2>Products</h2>

<%= link_to 'New Product', new_product_path %> |
<%= link_to 'Export Products', export_products_path %>
<hr>
<%= form_tag import_products_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>
<hr>
<div class="d-flex">
  <div>
    <%= search_form_for @q do |f| %>
      <%= f.label :name_cont %>
      <%= f.search_field :name_cont %>
      <%= f.submit %>
    <% end %>
  </div>
  <div class="ps-3 align-items-center">
    <% if params[:q].present? %>
      <%= link_to products_path do %>
        <i class="fa fa-sync"></i>
      <% end %>
    <% end %>
  </div>
</div>
<hr>

  <div data-controller="infinite-scroll">
     <div data-infinite-scroll-target="entries">
       <%= render 'products' %>
     </div>
     <div data-infinite-scroll-target="pagination" class="visually-hidden">
      <%== pagy_bootstrap_nav @pagy %>
     </div>
<!--    <div class="d-flex justify-content-center">-->
<!--      <div class="spinner-border" role="status">-->
<!--        <span class="visually-hidden">Загрузка...</span>-->
<!--      </div>-->
<!--    </div>-->
  </div>