<nav class="navbar navbar-expand-lg navbar-light fixed-top pb-2" style="background-color: #ffffff;" >
  <div class="container-fluid">
    <div class="navbar-brand">
      
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <%= link_to root_path, class: "nav-link #{'active fw-bold' if current_page?(root_path)}" do %>
          <div class="fa fa-home"></div>
          Home
        <% end %>
        <%= link_to products_path, class: "nav-link #{'active fw-bold' if current_page?(products_path)}" do %>
          <div class="fa fa-folder"></div>
          Products
        <% end %>
        <%= link_to questions_path, class: "nav-link #{'active fw-bold' if current_page?(questions_path)}" do %>
          <div class="fa fa-question-circle"></div>
          Questions
        <% end %>
        <%= link_to topics_path, class: "nav-link #{'active fw-bold' if current_page?(topics_path)}" do %>
          <div class="fa fa-comments"></div>
          Topics
        <% end %>
        <% if current_user %>
          <%= link_to users_path, class: "nav-link #{'active fw-bold' if current_page?(users_path)}" do %>
            <div class="fa fa-users"></div>
            Users
          <% end %>
        <% end %>
      </ul>
      <ul class="navbar-nav ms-auto">
        <% if current_user %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <% if current_user.image? %>
                <%= image_tag current_user.image, size: "30x30", class: "rounded-circle"%>
              <% else %>
                <div class="fa fa-user"></div>
              <% end %>
              <%= current_user.username %>
            </a>
            <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="navbarDropdown">
              <%= link_to user_path(current_user), class: "dropdown-item #{'active fw-bold' if current_page?(user_path(current_user))}" do %>
                <div class="fa fa-user"></div>
                <b>My profile</b>
              <% end %>
              <%= link_to edit_user_registration_path, class: "dropdown-item #{'active fw-bold' if current_page?(edit_user_registration_path)}" do %>
                <div class="fa fa-cog"></div>
                <b>Account settings</b>
              <% end %>
              <%= link_to destroy_user_session_path, method: :delete, class: "dropdown-item" do %>
                <div class="fa fa-sign-out-alt"></div>
                <b>Sign out</b>
              <% end %>
            </ul>
          </li>
        <% else %>
          <%= link_to "Log in", new_user_session_path, class: "nav-link #{'active fw-bold' if current_page?(new_user_session_path)}" %>
          <%= link_to "Sign up", new_user_registration_path, class: "nav-link #{'active fw-bold' if current_page?(new_user_registration_path)}" %>
        <% end %>
      </ul>
    </div>
  </div>
</nav>